body{
  box-sizing: border-box;
  background-color:#121212; 
  color:#FFFFFF;
}

.fram{
  background-color: lightgrey;
  height: 250px;
  width: 300px;
  padding: 25px;
  border: 25px solid navy;
  margin: 25px;
}

.navi{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  border-style: solid;
  border-width: 5px;
  border-color:#FFFFFF;
  height: 100px; 
  width: 100px;

}

.cont{
  border-style: solid;
  border-width: 5px;
  border-color:#FF1212;
  height: 100px; 
  width: 100px; 
}

.fter{
  border-style: solid;
  border-width: 5px;
  border-color:#cornflowerblue;
  height: 100px; 
  width: 100px; 
}

.bttn{
  position: fixed;
  bottom: 0;
  background-color:#3366FF;
  border:3px #00000;
  height:10px;
  width:100%;
}
